@font-face {
	font-family: gothamBold;
	src: url(fonts/Gotham-Bold.otf);
	font-weight: bold;
}

@font-face {
	font-family: gothamBook;
	src: url(fonts/Gotham-Book.otf);
}

@font-face {
	font-family: gothamMedium;
	src: url(fonts/Gotham-Medium.otf);
	font-weight: normal;
}

body {
	margin: 0px;
	overflow: hidden;
	display: flex;
	justify-content: center;
}


.banner {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 320px;
	height: 320px;
	background-color: lightgray;
	/* background-image: url("./assets/Hus1.jpg"); */
}

.panghusLogo {
	display: block;
	direction: rtl;
}

.imgLogo {
	width: 40px;
	height: 40px;
  margin: 10px 0px 0px 10px;
  padding-right: 10px;
  /* background-color: #6f6f6f; */
}

.infoText {
	display: flex;
	flex-direction: column;
  	align-items: center;
	text-align: center;

}

h1 {
	font-family: gothamBold, serif;
	color: #6f6f6f;
	font-size: small;
}

h2 {
	/* font-family: gothamBold, serif; */
	font-family: gothamBook, sans-serif;
	padding: 7px 10px;
	margin: 0px;
	color: #6f6f6f;
	font-size: x-small;
}

button {
	align-self: center;
	padding: 0px;
	border: solid 1px white;
	border-radius: 50px;
	border-top-style: groove;
}

button :hover {
	border-radius: 50px;
	cursor: pointer;
	background-color: #6f6f6f;
	color: white;
}

.productImg {
	width: 263px;
    height: 163px;
    align-self: center;
    padding-top: 24px;
}